/*=============================================
=            variables            =
=============================================*/

$DesaturatedDarkCyan: hsl(180, 29%, 50%);
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayish: hsl(180, 14%, 20%);
// (Filter Tablets)
$LightGrayishCyan: hsl(180, 31%, 95%);
//(Background)
$LightGrayishCyanBG: hsl(180, 52%, 96%);

$spartan: 'Spartan', sans-serif;

/*=====  End of variables  ======*/
